            <ul class="nav nav-tabs">
              <li class="active"><a href="#grade1" data-toggle="tab">中学1年生</a></li>
              <li><a href="#grade2" data-toggle="tab">中学2年生</a></li>
              <li><a href="#grade3" data-toggle="tab">中学3年生</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="grade1">
                <div class="row">
                  <div class="col-md-6">
                    <h3>正負の数</h3>
                    <ul>
                      <li>正の数・負の数</li>
                      <li>正負の数の加法、減法</li>
                      <li>正負の数の乗法、除法、累乗</li>
                      <li>四則計算、分配法則</li>
                    </ul>
                    <h3>文字式</h3>
                    <ul>
                      <li>文字式の表し方</li>
                      <li>代入・式の値</li>
                      <li>文字式の計算</li>
                    </ul>
                    <h3>方程式</h3>
                    <ul>
                      <li>方程式の解き方（等式の性質）</li>
                      <li>移項を用いた方程式の解き方</li>
                      <li>いろいろな方程式</li>
                      <li>比例式</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h3>関数</h3>
                    <ul>
                      <li>関数</li>
                      <li>比例</li>
                      <li>反比例</li>
                      <li>座標</li>
                      <li>比例グラフ</li>
                      <li>反比例グラフ</li>
                    </ul>
                    <h3>図形</h3>
                    <ul>
                      <li>図形（用語と記号）</li>
                      <li>図形の移動</li>
                      <li>作図</li>
                      <li>円とおうぎ形</li>
                      <li>おうぎ形の弧、面積</li>
                    </ul>
                    <h3>資料</h3>
                    <ul>
                      <li>近似値</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="grade2">
                <div class="row">
                  <div class="col-md-6">
                    <h3>式の計算</h3>
                    <ul>
                      <li>式の計算</li>
                      <li>式の値・代入</li>
                      <li>式の説明準備</li>
                      <li>式による説明</li>
                      <li>等式の変形</li>
                    </ul>
                    <h3>連立方程式</h3>
                    <ul>
                      <li>連立方程式</li>
                      <li>いろいろな連立方程式</li>
                      <li>連立方程式（小数・分数）</li>
                      <li>連立方程式の文章題</li>
                      <li>連立方程式の文章題（速さ）</li>
                      <li>連立方程式の文章題（割合）</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h3>1次関数</h3>
                    <ul>
                      <li>1次関数</li>
                      <li>1次関数　変化の割合</li>
                      <li>1次関数　式の出し方</li>
                      <li>1次関数　変域</li>
                      <li>直線の式、平行、交点</li>
                      <li>1次関数の応用（動点）</li>
                    </ul>
                    <h3>図形</h3>
                    <ul>
                      <li>角度（準備）</li>
                      <li>錯角と同位角</li>
                      <li>対頂角、内角の和、外角の和</li>
                      <li>角度</li>
                      <li>合同条件</li>
                      <li>合同の証明</li>
                      <li>二等辺三角形</li>
                      <li>直角三角形</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="grade3">
                <div class="row">
                  <div class="col-md-6">
                    <h3>多項式</h3>
                    <ul>
                      <li>式の証明</li>
                      <li>因数分解</li>
                      <li>素数・素因数分解</li>
                    </ul>
                    <h3>平方根</h3>
                    <ul>
                      <li>平方根</li>
                      <li>平方根の大小</li>
                      <li>平方根の計算</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h3>2次方程式</h3>
                    <ul>
                      <li>2次方程式（平方根）</li>
                      <li>2次方程式（因数分解）</li>
                      <li>2次方程式（解の公式）</li>
                    </ul>
                    <h3>関数</h3>
                    <ul>
                      <li>2乗に比例する関数</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>