            <div class="col-xs-12">
              <h3>新着レッスン一覧</h3>
              <% if @new_lessons_main.present? %>
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>学年</th>
                        <th>単元</th>
                        <th>単元項目名</th>
                        <th>作成日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @new_lessons_main.each do |lesson| %>
                        <tr>
                          <td>中学<%= lesson.lesson_grade %>年生</td>
                          <td><%= lesson.lesson_unit_name %></td>
                          <td><%= lesson.lesson_unit_item_name %></td>
                          <td><%= lesson.created_at.strftime('%y.%m.%d') %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <p>準備中です</p>
              <% end %>
            </div>
