            <ul class="nav nav-tabs">
              <li><a href="<%= mypage_path %>">学習状況</a></li>
              <li class="active"><a><span style="font-size: 12px; line-height: 120%; !important">メモ・チェックレッスン</span></a></li>
              <li><a href="<%= friends_path %>">友達<span style="color: red; font-size: 12px">New</span></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="memo">
                <div class="col-xs-12">
                  <h3 class="tangen">学習メモ</h3>
                  <dl id="lesson_memo">
                    <dt>・【学年】【単元】レッスン名</dt>
                    <dd>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</dd>
                    <dt>・【学年】【単元】レッスン名</dt>
                    <dd>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</dd>
                    <dt>・【学年】【単元】レッスン名</dt>
                    <dd>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</dd>
                    <dt>・【学年】【単元】レッスン名</dt>
                    <dd>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</dd>
                    <dt>・【学年】【単元】レッスン名</dt>
                    <dd>あいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえおあいうえお</dd>
                  </dl>
                </div>
                <div class="col-xs-12">
                  <h3 class="tangen">チェックレッスン一覧</h3>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>正の数・負の数</li>
                    <li>正負の数の加法、減法</li>
                    <li>正負の数の乗法、除法、累乗</li>
                    <li>四則計算、分配法則</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>文字式の表し方</li>
                    <li>代入・式の値</li>
                    <li>文字式の計算</li>
                  </ul>
                </div>
              </div>
            </div>